@charset "utf-8";
/* CSS Document */

body { 
  font-family: Trebuchet MS, arial, sans-serif;
  background: #6699FF;
 }

p{ 
  padding: 0 0 20px 0;
  
  background-position:center
  text-align: center;
    
}


img{ 
  border: 1px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}
.text-align-center {
  text-align: center;
  width: 80%;
}
.text-align-right {
  text-align: right;
}
